player-connection-mode=Listen
player-connection-guid=2174502054
player-connection-debug=0
player-connection-project-name=Netcode
player-connection-ip=192.168.4.182
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=05466daa409a4533a15da9bf8bc0d62d
